<footer>
  <div class="grid">
    <div class="first">
      <h5>Follow Our Journey</h5>

      <div class="footer-socials">
        <a class="tiktok" href="https://www.tiktok.com/@matchabike" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
            <circle cx="25" cy="25" r="25" fill="#3C4B04"></circle>
            <path
              d="M38 17.7607V22.2678C36.1746 22.5682 32.678 21.3914 31.1578 20.7654V30.5308C31.1578 37.1412 26.0895 38.9304 23.5554 38.9987C8.73145 39.1694 10.2521 21.141 23.5554 21.5166V26.0237C15.1935 26.3993 18.2343 35.4135 23.5554 34.2867C25.9881 33.3853 26.5963 31.4072 26.5963 30.5308V11H31.1578C31.1578 14.9062 35.7193 17.1347 38 17.7607Z"
              fill="#FFBBEA"></path>
          </svg>
        </a>

        <a class="insta" href="https://www.instagram.com/matchabikedk/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
            <circle cx="25" cy="25" r="25" fill="#3C4B04"></circle>
            <circle cx="25.0148" cy="25.0148" r="5.09513" stroke="#FFBBEA" stroke-width="3"></circle>
            <circle cx="32.4339" cy="17.5953" r="1.64878" fill="#FFBBEA"></circle>
            <rect x="12.4999" y="12.5" width="25.0293" height="25.0293" rx="6.5" stroke="#FFBBEA" stroke-width="3"></rect>
          </svg>
        </a>
      </div>
      <p class="footer-hvid-tekst">Stay updated with our daily locations and special events!</p>
    </div>

    <div class="second">
      <div>
        <p class="footer-bold-tekst">Services</p>
        <ul>
          <li>Events</li>
          <li>Storefront Partnerships</li>
          <li>Street Sales</li>
          <li>Custom Branding</li>
        </ul>
      </div>
      <div>
        <p class="footer-bold-tekst">Quick Links</p>
        <ul>
          <li><a href="">Book Now</a></li>
          <li><a href="/Liste-view">Products</a></li>
          <li><a href="/galleri">See Us In Action</a></li>
          <li><a href="">Frequently Asked Questions</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div>
        <p class="footer-bold-tekst">Explore Our Menu</p>
        <ul>
          <li>Iced Mathca Latte</li>
          <li>Matcha Snacks</li>
          <li>Drink Boosters</li>
        </ul>
      </div>
    </div>

    <div class="third">
      <a href="/index">
        <svg xmlns="http://www.w3.org/2000/svg" width="242" height="33" viewBox="0 0 242 33" fill="none">
          <path d="M35.1857 31.9912V1.24109H48.2237V5.42311H39.6137V14.5251H47.2397V18.4612H39.6137L39.5079 27.451H48.3241V31.9912H35.1857Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M21.4103 1.24109H16.7363V31.9912H21.1643V18.3843H26.8224V31.9912H31.0044L31.2504 1.24109H26.8224V14.4729H21.4103V1.24109Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M0.5 5.42335V1.24139L15.0141 1.24133V5.42335H10.094L9.97795 31.864H5.49434V5.42335H0.5Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M62 0.995361V31.4995H66.428V13.0494L70.856 26.0875H73.07L77.4981 13.0494L77.2521 31.4995H81.9261V0.995361H77.4981L71.84 16.9854L66.428 0.995361H62Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M141.458 0.749512H136.784V31.4996H141.212V17.8928H146.87V31.4996H151.052L151.298 0.749512H146.87V13.9813H141.458V0.749512Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M102.344 5.17761V0.995542L116.858 0.99559V5.17761H111.938L111.822 31.6182H107.338V5.17761H102.344Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M86.3545 6.1616V31.4997H90.5365V25.1037H95.9485V31.4997H100.377C100.377 31.4997 100.341 10.5895 100.131 6.1616C99.9197 1.73367 95.2925 0.421574 93.4885 0.503575C88.3717 0.503575 86.3545 3.94768 86.3545 6.1616ZM90.5365 7.14559C90.5365 4.19357 95.9485 4.19357 95.9485 7.14559V20.6757H90.5365V7.14559Z"
            fill="#FFBBEA"
            stroke="#FFBBEA"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M155.48 6.41111V31.7492H159.663V25.3532H165.075V31.7492H169.503C169.503 31.7492 169.467 10.839 169.257 6.41111C169.046 1.98318 164.419 0.671086 162.615 0.753087C157.498 0.753087 155.48 4.19719 155.48 6.41111ZM159.663 7.3951V20.9252H165.075V7.3951C165.075 4.44308 159.663 4.44308 159.663 7.3951Z"
            fill="#FFBBEA"></path>
          <path
            d="M155.48 6.41111V31.7492M155.48 6.41111C155.48 4.19719 157.498 0.753087 162.615 0.753087C164.419 0.671086 169.046 1.98318 169.257 6.41111C169.467 10.839 169.503 31.7492 169.503 31.7492H165.075V25.3532H159.663V31.7492H155.48M155.48 6.41111C155.48 8.62503 155.48 31.7492 155.48 31.7492M159.663 7.3951V20.9252M159.663 7.3951C159.663 4.44308 165.075 4.44308 165.075 7.3951M159.663 7.3951C159.663 10.3471 159.663 20.9252 159.663 20.9252M159.663 20.9252H165.075M165.075 20.9252V7.3951M165.075 20.9252C165.075 20.9252 165.075 10.3471 165.075 7.3951"
            stroke="#FFBBEA"></path>
          <path
            d="M133.094 9.6074L128.666 9.60557V7.39138C128.666 4.43955 123.5 4.19359 123.5 7.39138V25.3495C123.5 28.3013 128.666 28.0557 128.666 25.3499V22.8897L133.094 22.8896C133.422 25.7596 132.652 31.5488 126.944 31.7456C123.008 31.9935 119.072 30.2715 119.072 25.8416V6.65539C119.072 2.22554 123.008 0.503499 126.944 0.751359C132.652 0.94816 133.422 6.73738 133.094 9.6074Z"
            fill="#FFBBEA"></path>
          <path
            d="M119.072 25.8435V6.65539C119.072 2.22554 123.008 0.503499 126.944 0.751359C132.652 0.94816 133.422 6.73738 133.094 9.6074L128.666 9.60557V7.39138C128.666 4.43955 123.5 4.19359 123.5 7.39138V25.3495C123.5 28.3013 128.666 28.0557 128.666 25.3499V22.8897L133.094 22.8896C133.422 25.7596 132.652 31.5488 126.944 31.7456C123.008 31.9935 119.072 30.2715 119.072 25.8416"
            stroke="#FFBBEA"></path>
          <path d="M228.157 31.4996V0.749512H241.195V4.93153H232.585V14.0336H240.211V17.9696H232.585L232.479 26.9594H241.296V31.4996H228.157Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M183.033 31.2536V0.503432H191.75C198.881 0.507131 199.269 13.5417 194.349 15.0175V15.2635C199.761 17.7235 198.392 31.2536 191.75 31.2536H183.033ZM187.461 4.68544V13.0495H190.413C193.857 13.0495 194.349 4.68544 190.413 4.68544H187.461ZM187.461 16.9855V26.8255H190.659C194.103 26.8255 194.349 16.9855 190.413 16.9855H187.461Z"
            fill="#FFBBEA"></path>
          <path
            d="M191.75 0.503432H183.033V31.2536H191.75C198.392 31.2536 199.761 17.7235 194.349 15.2635V15.0175M191.75 0.503432C198.881 0.507131 199.269 13.5417 194.349 15.0175M191.75 0.503432C198.884 0.503432 199.269 13.5415 194.349 15.0175M191.75 0.503432L191.504 0.503418M187.461 13.0495V4.68544H190.413C194.349 4.68544 193.857 13.0495 190.413 13.0495H187.461ZM187.461 26.8255V16.9855H190.413C194.349 16.9855 194.103 26.8255 190.659 26.8255H187.461Z"
            stroke="#FFBBEA"></path>
          <path d="M205.28 0.749512H201.098L201.344 31.0076H205.28V0.749512Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
          <path d="M214.136 0.749512H209.708L209.708 31.2537H214.136V21.9056L216.596 17.7236L221.27 31.2537H226.19L219.056 12.8036L224.96 0.749512H220.532L214.136 14.5946V0.749512Z" fill="#FFBBEA" stroke="#FFBBEA"></path>
        </svg>
      </a>
      <p class="footer-hvid-tekst">Copenhagen's mobile matcha <br /> experience, bringing authentic<br /> Japanese matcha and artisanal cookies <br /> to your events and partnerships.</p>
    </div>
  </div>
  <p class="copyright"><b>© The Matcha Bike</b> | CVR: 45606848 | Copenhagen, Denmark</p>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

  footer {
    background-color: #818c58;
    max-height: 330px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .first {
    grid-column: 1/3;
  }
  .second {
    grid-column: 4/10;

    display: flex;
    gap: 110px;
    margin: 80px 0;
    margin-bottom: 10px;
  }
  .third {
    grid-column: 10/13;
    margin-top: 110px;
    text-align: end;
  }

  h5 {
    font-family: "Gluten";
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
  }

  .footer-socials {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }

  .footer-bold-tekst {
    font-family: "Gluten";
    font-size: 16px;
  }

  .footer-hvid-tekst {
    font-family: "Inter";
    font-size: 15px;
    color: white;
  }

  footer ul {
    font-family: "Inter";
    font-size: 13px;
    list-style-type: none;
    padding: 0;
  }

  footer a {
    text-decoration: none;
    color: black;
  }
  footer a:hover {
    color: #707070;
  }

  .copyright {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-size: 12px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
</style>
