<header>
  <a href="/index">
    <img src="../assets/logo-grøn.png" alt="logo 'The Matcha Bike' i grøn" />
  </a>

  <nav>
    <!--Husk at indsætte links til siderne -->
    <ul>
      <li><a href="">Bookings</a></li>
      <li><a href="/Liste-view">Menu</a></li>
      <li><a href="/galleri">In Action</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">FAQs</a></li>
    </ul>
  </nav>
</header>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400&display=swap");

  body {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: #ffbbea;
    padding: 20px;
    margin: 0;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    align-items: space-between;
  }

  a {
    font-family: "Gluten", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: white;
  }
</style>
